#left_side{
	width: 200px;
	height: 400px;
	background-color: green;
	float: left;
	position: absolute;
	left: 200px;
	/*border-left: 16px solid black;
	border-bottom: 8px solid black;
	border-top: 8px solid black;*/
	background-image: url("door.png");
	background-size: 200px 400px;
}
#right_side{
	width: 200px;
	height: 400px;
	background: red;
	position: absolute;
	left: 400px;
	/*border-right: 16px solid black;
	border-bottom: 8px solid black;
	border-top: 8px solid black;*/
	background-image: url("door.png");
	background-repeat: no-repeat;
	background-size: 200px 400px;
}
#msg{
	position: absolute;
	top: 420px;
	
	background-color: black;
	width: 1000px;
	height: 100px;
}
#msg > li{
	color: white;
}